.logo{
    border: 5px solid #fff;
    height: 130px;
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    line-height: 0;
}
.info-section{
    width: 35%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 54px;
    .info-box{
        bottom: 60px;
        position: absolute;
        padding: 0;
        h4{
            font-size: 1.2rem;
            color: $color3;
            margin: .7rem 0;
        }
        p{
            font-size: .9rem;
            font-weight: 300;
            color: $color3;
            margin: .2rem 0 1.6rem;
        }
    }
    .icon-section{
        a{
            color: white;
            text-decoration: none;
            font-size: 2rem;
            padding: 0 10px;
            
            &:hover{
                color: $hoverColor;
            }
            &:first-child{
                padding: 0 10px 0 0;
            }
        }
    }
}

@media (max-width: 767px) {
.work{
    .info-section{
        position: static;
        .info-box{
            
            display: none;
        }
    }
    .content-area{
        width: 100%;
        margin-left: 0%;
    }
}
}